{% extends 'base.html' %} {% block content %}
<div
  class="container d-flex justify-content-center align-items-center"
  style="min-height: 80vh"
>
  <div
    class="card p-4 border-0 shadow-sm bg-white"
    style="max-width: 450px; width: 100%; border-radius: 12px"
  >
    <div class="text-center mb-4">
      <h4 class="fw-bold m-0">
        Nova <span class="text-warning">Palavra-passe</span>
      </h4>
      <p class="text-muted small mt-2">
        Defina os seus novos dados de acesso respeitando os requisitos de
        segurança.
      </p>
    </div>

    <form
      action="{{ url_for('auth.redefinir_senha', token=token) }}"
      method="POST"
    >
      <div class="mb-3">
        <label class="form-label small fw-bold text-muted"
          >Nova Palavra-passe</label
        >
        <input
          type="password"
          name="nova_senha"
          class="form-control"
          style="border-radius: 8px"
          required
        />
        <div
          class="form-text text-muted"
          style="font-size: 0.75rem; line-height: 1.2"
        >
          A palavra-passe deve conter pelo menos 8 caracteres, uma letra
          maiúscula, um número e um caractere especial.
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label small fw-bold text-muted"
          >Confirmar Nova Palavra-passe</label
        >
        <input
          type="password"
          name="confirmar_senha"
          class="form-control"
          style="border-radius: 8px"
          required
        />
      </div>

      <button
        type="submit"
        class="btn btn-warning w-100 fw-bold py-2 text-dark"
        style="background-color: #ffcc00; border: none; border-radius: 8px"
      >
        Alterar Palavra-passe
      </button>
    </form>
  </div>
</div>
{% endblock %}
