{% extends 'base.html' %} {% block content %}
<div
  class="row justify-content-center align-items-center"
  style="min-height: 80vh"
>
  <div class="col-10 col-sm-8 col-md-6 col-lg-4">
    <div class="card p-4 border-custom shadow-sm">
      <div class="text-center mb-4">
        <h3 class="fw-bold">Criar Nova Conta</h3>
        <p class="text-muted">Comece a poupar de forma estruturada hoje</p>
      </div>
      <form method="POST" action="{{ url_for('auth.register') }}">
        <div class="mb-3">
          <label class="form-label fw-semibold">Nome Completo</label>
          <input
            type="text"
            name="nome"
            class="form-control border-custom"
            required
          />
        </div>
        <div class="mb-3">
          <label class="form-label fw-semibold">Email</label>
          <input
            type="email"
            name="email"
            class="form-control border-custom"
            required
          />
        </div>
        <div class="mb-4">
          <label class="form-label fw-semibold">Palavra-passe</label>
          <input
            type="password"
            name="password"
            class="form-control border-custom"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary-yellow w-100 py-2 mb-3">
          Registar Conta
        </button>
        <div class="text-center">
          <span class="text-muted">Já tem conta?</span>
          <a
            href="{{ url_for('auth.login') }}"
            class="text-dark fw-bold text-decoration-none"
            >Fazer Login</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
